body {
  font-family: sans-serif;
}

h1 {
  margin: 40px 0;
}

#finalPrice {
  margin-top: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 230%;
  font-family: sans-serif;

}

.btnGroup {
  margin: auto;
  text-align: center;
  padding-left: 5%;
  transition-duration: 2s;
}
